---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
---

<Layout>
  <Hero />
  <main>
    <Section>
      <Container>
        <h1 class="mb-8 text-4xl uppercase font-medium">FAQ Coming Soon</h1>
      </Container>
    </Section>
  </main>
</Layout>