---
import { sanityClient } from 'sanity:client';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

const concerts = await sanityClient.fetch(`
  *[_type == 'concert'] {
    date,
    venue,
    doors,
    showtime,
    headliner -> {
      name
    },
    "artists": artists[] -> name,
    "images": artists[] -> image.asset->url
  }
`);

console.log(concerts);
---

<Layout>
  <Hero />
  <main>
    <h3>{concerts[0].showtime}</h3>
  </main>
</Layout>
