---
export interface Props {
  maxWidth?: string;
}

const { maxWidth = '77.5rem' } = Astro.props as Props;
---

<!-- INTERNAL MAX WIDTH CONTAINER -->
<div class={`max-w-[${maxWidth}] mx-auto`}>
  <slot />
</div>
