---
export interface Props {
  size?: string;
}

const { size = 'large' } = Astro.props as Props;

const setContainerWidth = (size) => {
  if (size === 'large') return 'large'
  else if (size === 'medium') return 'medium'
  else if (size === 'small') return 'small'
  else return 'none';
}
---

<div class={`outer-container ${setContainerWidth(size)}`}>
  <div class='inner-container'>
    <slot />
  </div>
</div>

<!-- STYLING -->

<style>
  .outer-container {
    width: 100%;
    margin: 0 auto;
  }

  .large {
    max-width: 1240px;
  }

  .inner-container {
    padding: 0 var(--global-x-padding);
  }
</style>
