---
import { sanityClient } from 'sanity:client';
import Container from '../components/Container.astro';

// fetch all page setting content
const header = await sanityClient.fetch(`*[_type == 'settings']`);
const { pageTitle, navLinks } = header[0];

// create slugs for each link
const links = navLinks.map((link) => {
  return {
    link: link,
    slug: link.toLowerCase(),
  };
});
---

<header>
  <Container>
    <div class='inner-container'>
      <!-- insert page title from cms settings -->
      <a class='brand' href='#'>{pageTitle}</a>
      <nav>
        <!-- create navigation links from cms settings -->
        {links.map((link) => <a href={`/${link.slug}`}>{link.link}</a>)}
      </nav>
    </div>
  </Container>
</header>

<style>
  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .inner-container a {
    color: var(--color-light);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25px;
  }

  .inner-container .brand {
    font-weight: 500;
  }

  nav a {
    margin-left: 2rem;
  }
</style>
