---
import { sanityClient } from 'sanity:client';
import Container from './Container.astro';

// fetch all page setting content
const header = await sanityClient.fetch(`*[_type == 'settings']`);
const { pageTitle, navLinks } = header[0];

// create slugs for each link
const links = navLinks.map((link) => {
  return {
    link: link,
    slug: link.toLowerCase(),
  };
});

// establish page padding props
export interface Props {
  paddingX?: string;
}

// ADJUST THIS VALUE IF GLOBAL X PADDING CHANGES IN THE SECTION COMPONENT
const { paddingX = '1.5rem' } = Astro.props as Props;
---

<header class={`${paddingX} py-4 no-underline uppercase`}>
  <Container>
    <div class='flex justify-between items-center'>
      <a href='#'>{pageTitle}</a>
      <nav>
        {
          links.map((link) => (
            <a href={`/${link.slug}`} class='ml-8'>
              {link.link}
            </a>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
