---
import { sanityClient } from 'sanity:client';

const header = await sanityClient.fetch(`*[_type == 'settings']`);

const { pageTitle, navLinks } = header[0];
---

<header class='p-8 text-light uppercase'>
  <div class='max-w-[1240px] mx-auto flex justify-between items-center'>
    <a href='#'>{pageTitle}</a>
    <nav>
      {
        navLinks.map((link) => (
          <a href='#' class='ml-8'>
            {link}
          </a>
        ))
      }
    </nav>
  </div>
</header>
