<div class="hero h-[30rem]"></div>

<style>
  .hero {
    background-image: url('/images/concert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
  }
</style>