---
export interface Props {
  paddingX?: string;
  paddingY?: string;
}

const { paddingX = '1.5rem', paddingY = '8rem' } =
  Astro.props as Props;
---

<!-- COMPLETE SECTION WRAPPER -->
<section class={`${paddingX} ${paddingY}`}>
  <slot />
</section>
