---
export interface Props {
  paddingX?: string;
  paddingY?: string;
}

const { paddingX = 'px-8', paddingY = 'py-20' } =
  Astro.props as Props;
---

<section class={`${paddingX} ${paddingY}`}>
  <slot />
</section>
