@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Righteous&display=swap');

:root {
  /* COLORS */
  --color-dark: #222325; 
  --color-light: #F2F2F2;

  /* FONTS */
  --font-primary: 'Poppins', sans-serif;
  --font-accent: 'Righteous', sans-serif; 

  /* SPACING */
  --global-x-padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}